# Algorithmic Trading Process

1. Collect data
2. Develop a hypothesis for a strategy
3. Backtest strategy
4. Implement strategy in production


# Equal-Weight S&P 500 Screener

In [4]:
import math
import requests 
import xlsxwriter
import numpy as np
import pandas as pd

In [7]:
stocks = pd.read_csv("data/sp_500_stocks.csv")
stocks.head()

  Ticker
0      A
1    AAL
2    AAP
3   AAPL
4   ABBV

In [8]:
stocks.shape

(505, 1)